// Variables

// Colors
$darkPink: #d0646c;
$pink: #eebbbb;
$blue: #95a0a7;
$darkBlue: #576c76;
$orange: #faad76;
$darkOrange: #f89045;
$white: #fff;

// Fonts
// prettier-ignore
@import url('https://fonts.googleapis.com/css2?family=Abril+Fatface&display=swap');

$font-serif: 'Abril Fatface', cursive;

$typography-xs: 0.4em;
$typography-xl: 4em;
